body {
    padding-top: 15px;
    padding-bottom: 20px;
    background: rgba(141, 142, 142, 0.637);
    scroll-behavior: smooth;
}

.layout {
    display: grid;
    align-items: start;
    gap: 10px;
    margin-left: 50px;
}

.header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    padding: 10px;
    max-width: 1375px;
}

.nav-links {
    display: flex;
    gap: 110px;
    justify-content: center;
}

.arrow {
    vertical-align: text-top;
}

.ai-icon {
    height: 44px;
    width: 44px;
    justify-content: center;
}

.header-hire{
    margin-left: auto;
    padding: 10px;
    width: 120px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:rgb(20, 20, 20);
    cursor: pointer;
    justify-self: end;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

.nav-header{
    padding: 10px 20px;
    text-align: center;
    border: none;
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.nav-header:hover {
    text-decoration: underline;
}

.personal-info {
    display: grid;
    grid-template-columns: 940px 1fr;
}

.pfp-grid {
    
    display: grid;
    grid-template-columns: 165px 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    column-gap: 15px;
    row-gap: 8px;
    align-items: start;
}

.info,
.loc-grid,
.status {
    grid-column: 2;
}


.pfp {
    grid-column: 1;
    grid-row: 1 / span 4;
    height: 165px;
    width: 165px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.722);

}

.contact {
    padding: 15px 20px; /* more breathing room */
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    max-width: 350px;

    display: flex;
    flex-direction: column;
    gap: 5px; /* global vertical rhythm */
}

.contact-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.contact-description {
    margin-bottom: 55px;
    margin-top: -20px;
    color:rgb(105, 97, 97)
}

.info {
    margin-top: 22px;
    height: 30px;
    margin-bottom: 3px;
    font-size: 30px;
    font-weight: bold;
}


.info-emoji {
    vertical-align: middle;
    margin-bottom: 3px;
    height: 25px;
    width: 25px;
}

.loc-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    vertical-align: text-bottom;
    gap: 6px;
}

.loc {
    margin-top: 0px;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loc-emoji {
    height: 13px;
    width: 13px;
}

.status {
    height:50px;
    margin-top: -20px;
}

.work {
    border-width: 2px;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    max-width: 110px;
    border-style: solid;
    font-size: 13.5px;
    background: linear-gradient(
        135deg,
        rgb(20, 120, 80),
        rgb(74, 190, 140)
    );
    color: rgb(179, 249, 216);
    border: 1px solid rgb(15, 90, 60);
    box-shadow:
        0 5px 14px rgb(130, 255, 205),
        inset 0 1px 0 rgba(255, 255, 255, 0.789);
}





.other_info-block {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 8px;
    display: grid;
    gap: 50px;
    grid-template-columns: 250px 253px 150px;
}

.info-emoji{
    height: 16px;
    width: 16px;
}

.other_info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:rgb(0, 0, 0);
    vertical-align: middle;
}

.email {
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    padding: 10px;
    max-width: 150px;
}

.email-emoji {
    height: 16px;
    width: 16px;
    max-width: 200px;
    margin-right: 7px;
}

.questions {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    max-width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.questions-emoji {
    height: 13px;
    width: 13px;
    margin-right: 7px;
}

.button-grid {
  display: grid;  
  grid-template-columns: 150px 150px;
  margin-bottom: 10px;
  gap: 10px;
}


.about-card {
    max-width: 100%;
    padding: 20px 30px 20px 20px;
    line-height: 30px;
    font-size: 17px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                 'Open Sans', 'Helvetica Neue', sans-serif;
}


.about {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
}

.about-me {
    font-family: "Archivo Black", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 23px;
    height: 20px;
}

.experiences {
    max-width: 450px;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    font-family: "Archivo Black", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 18px;
    min-height: auto;
}

.about-section {
    display: grid;
    grid-template-columns: 940px 450px;
    align-items: start;
    gap: 12px;

}

.contact-stack {
    display: grid;
    grid-template-columns: 350px 575px;
    gap: 12px;
}

.contact-head {
    font-family: "Archivo Black", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 20px;
    height: 26px;
}

.featured_projects_block {
    padding: 5px 25px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    grid-column: 1 / 2;
    min-height: 350px;
    margin-top: 2px;
}

.featured-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects {
    font-family: "Archivo Black", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 20px;
}

.stack {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.frontend, .backend, .database, .deployment {
    display: flex;
    gap: 5px;
}

.stack-tag {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0;
    padding: 3px 8px 3px 5px;
    display: flex;
    align-items: center;
    gap: 6px
}

.backend-emoji, .frontend-emoji, .database-emoji,
.deployment-emoji {
    height: 22px;
    width: 22px;
    display: block;
}


.languages {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.stack-div {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    padding: 5px 25px;
}

.stack_word {
    font-family: "Archivo Black", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 20px;
}

.view_button {
    display: inline-block;
    margin-top: 15px;
    color: rgba(71, 66, 66, 0.732);
    font-size: 11px;
    font-family: "Archivo Black", sans-serif;
    font-weight: lighter;
    font-style: normal;
    text-decoration: none;
}

.view_button:hover {
    text-decoration: underline;
}


.arrow_out-emoji {
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

.contact-to-me {
    height: 17px;
    width: 17px;
    max-width: 90px;
    vertical-align: text-bottom;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.contact-to-me:hover {
    text-decoration: underline;
}

.contact-to-me-emoji {
    height: 13px;
    width: 13px;
}

.gallery-block{
    padding: 5px 25px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    grid-column: 1 / 3;
    min-height: 300px;
    margin-top: 2px;
}

.gallery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery-text {
    font-family: "Archivo Black", sans-serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 20px;
}

.view-gallery {
    max-width: 100px;
}

.picture-block {
    display: grid;
    grid-template-columns: 260px 260px 260px 260px 260px;
    gap: 10px;
}

.picture { 
    height: 210px;
    width: 260px;
    border-radius: 16px;
}

