.pfp-grid {
    display: grid;
    max-width: 900px;
    align-items: start;
    font-family: Arial, Helvetica, sans-serif;
}

.pfp {
    height: 170px;
    width: 170px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 30px;
    position: absolute;
}

.info {
    margin-left: 240px;
    margin-top: 52px;
    margin-bottom: 3px;
}

.loc-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 10px 1fr;
}

.loc {
    margin-left: 247px;
    margin-top: 0px;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loc-emoji {
    height: 13px;
    width: 13px;
    margin-left: 240px;
    margin-top: -10px;
}

.degree {
    margin-left: 240px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.email {
    margin-left: 240px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.email-emoji {
    height: 16px;
    width: 16px;
    max-width: 200px;
    margin-right: 7px;
}

.questions {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    max-width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.questions-emoji {
    height: 13px;
    width: 13px;
    margin-right: 7px;
}

.button-grid {
  display: grid;  
  grid-template-columns: 370px 150px;
}

.about-section {
  
}
